.customer-card {
  margin-top: 20px;
  border-radius: 15px;
  height: 375px;
  padding: 20px;
}

.customer-card h1 {
  font-size: 25px;
  color: $blue;
  justify-content: center;
}

.customer-card h2 {
  font-size: 15px;
}
