<div class="footer">
  <div class="row align-items-center">
    <div class="col-12 col-lg-6">
      <ul class="d-flex flex-row">
        <li><a href="www.facebook.com" class="mx-5"><i class="fab fa-fw fa-facebook-f"></i></a></li>
        <li><a href="www.instagram.com" class="mx-5"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="www.twitter.com" class="mx-5"><i class="fa-brands fa-twitter"></i></a></li>
      </ul>
    </div>
    <div class="col-12 col-lg-6 justify-item-right ">
      <h5><i class="fa-solid fa-otter"></i> Contact us</h5>
    </div>
  </div>
  </div>
