<div class="footer">
  <div class="row">
    <div class="col-6 flex-box">
      <ul>
        <li><a href="www.facebook.com"><i class="fab fa-fw fa-facebook-f"></i></a></li>
        <li><a href="www.instagram.com"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="www.twitter.com"><i class="fa-brands fa-twitter"></i></a></li>
      </ul>
    </div>
    <div class="col-6">
      <ul>
        <li><h5>Contact us</h5></li>
        <li><h5>Career</h5></li>
        <li><h5>Newsletter</h5></li>
      </ul>
    </div>
  </div>
  </div>
