<div class="panel panel-default">
  <div class="container-fluid gradient">
    <div class="container panel-default">
      <h1>Contact us</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="insurance-card p-2">
      <h1>How can we help?</h1>
      <h2>kellizi@gmail.com</h2>
      </div>
    </div>
  </div>
</div>
