<div class="container">
  <div class="row" style="justify-content: center;">
    <% Category.all.each do |category| %>
      <div class="col-lg-3 col-md-4 col-sm-4 mt-3">
        <div class="dashboard-card text-center mb-3 p-4">
        <%= link_to contracts_path(category: category.name) do %>
          <div class="card-img-top">
            <% if category.name == "House" %>
              <i class="fa-solid fa-house-chimney-user dashboard_icons"></i>
            <% elsif category.name == "Business" %>
              <i class="fa-solid fa-briefcase dashboard_icons"></i>
            <% elsif category.name == "Electronics" %>
              <i class="fas fa-gamepad dashboard_icons"></i>
            <% elsif category.name == "Family" %>
              <i class="fa-solid fa-people-roof dashboard_icons"></i>
            <% elsif category.name == "Healthcare" %>
              <i class="fa-solid fa-briefcase-medical dashboard_icons"></i>
            <% elsif category.name == "Legal Insurance" %>
              <i class="fa-solid fa-file-contract dashboard_icons"></i>
            <% elsif category.name == "Mobility" %>
              <i class="fa-solid fa-car-burst dashboard_icons"></i>
            <% elsif category.name == "Mortgage" %>
            <i class="fa-solid fa-building-columns dashboard_icons"></i>
            <% elsif category.name == "Travel" %>
              <i class="fa-solid fa-map-location-dot dashboard_icons"></i>
            <% elsif category.name == "Other" %>
              <i class="fa-solid fa-otter dashboard_icons"></i>
            <% end %>
            <div class="card-body">
              <span class="categories mt-6"><%= category.name%></span>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
