<div class="container">
  <div class="row">
    <% Product.all.each do |product| %>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <%# <img src="" alt=""> %>
        <%= link_to product.category, contracts_path(category: product.category) %>
      </div>
    <% end %>

  </div>
</div>
