body {
  margin:0;
}

.inner-header h1 {
  font-family: $headers-font;
  font-style: 150%;
  font-weight:600;
  letter-spacing: 2px;
  font-size:70px;
  text-align: left;
  // text-shadow: 1px 1px 5px black
}


// p {
//   font-family: $body-font;
//   letter-spacing: 1px;
//   font-size:14px;
//   color: #333333;
// }

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
}

.left-card {
  margin-left: 200px;
  margin-top: 50px;
}

.right-card {
  margin-right: 200px;
  margin-top: 100px;
}

.landing-button {
  margin-top: 50px;
}

.header {
  position:relative;
  text-align:center;
	background: $gradient;
 /*  animation: gradient 12s ease infinite; */
/*   background-size: 400% 400%; */
  color:white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  // display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
  padding-top: 40%;
}

.flex { /*Flexbox for containers*/
  // display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
