.dashboard-card {
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 180px;
  &:hover{
    background-color: #ecb9ed6e ;
    color: $dark-blue;
  }
}

.card-body {
  padding-top: 20px;
  font-weight: bold;
  font-size: 15px;
}
