.form-rounded {
  border-radius: 10px;
  background-color:$white;
  // border-color: rgba(128, 128, 128, 0.49);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  // text: black;
/*   &:hover {
  background-color: $blue;
  opacity:0.1;
  } */
}

.form-control {
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  border-radius: 10px;
}

.timing-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.timing-item {
  flex: 0 0 30%;
}

.timing-selector {
  position: absolute;
  transform: scale(0);
}

.timing-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.timing-selector:checked + label {
  color: black !important;
  background: #009dff7c
}

.form-container {
  display: flex;
  justify-content: space-between;
}

