.container {
  width: 1000px;
  margin: auto;
}

// .customer-card .img {
//   height: 50px;
//   width: 100%;
// }

// .center {
//   margin: auto;
//   width: 50%;
//   padding: 10px;
// }

.dashboard_icons{
  font-size: 100px;
  animation: flow 10s ease-in-out infinite;
  background: $gradient;
  background-size: 100%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-items: center;
}

.panel-default h1 {
  color: $white;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.fa-trash{
  color: #E9E9E9;
  text-decoration: none;
  font-size: 3vh;
  background: white;
  &:hover{
    color: #93afd7;
  }
}

.fa-file-pen {
  color: #c471ed83;
  text-decoration: none;
  font-size: 3vh;
  background: white;
  &:hover{
    color: #c471edb4;
  }
}

.fa-magnifying-glass {
  text-decoration: none;
  font-size: 3vh;
  background: white;
  color: #c471ed83;
  &:hover{
    color: #c471edb4;
  }
}

a:hover {
  color:black;
}

.columnn {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.roww:after {
  content: "";
  display: table;
  clear: both;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
