.container {
  width: 1000px;
  margin: auto;
}

// .customer-card .img {
//   height: 50px;
//   width: 100%;
// }

// .center {
//   margin: auto;
//   width: 50%;
//   padding: 10px;
// }

.dashboard_icons{
  font-size: 100px;
  animation: flow 10s ease-in-out infinite;
  background: linear-gradient($blue, $purple);
  background-size: 300%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-items: center;
}
