.insurance-card h1 {
  font-size: 20px;
  color:black;
}

.insurance-card h2 {
  font-size: 15px;
  color:black;
}

.insurance-card h3 {
  font-size: 12px;
  color: black;
  margin-bottom: 0;
}
.insurance-card .centered h3 {
  text-align: center;
}

.insurance-card h4 {
  font-size: 20px;
  color: rgb(176, 11, 11);
  margin-top:10px;
}

.insurance-card {
  color:black;
  background-color: $white;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 10px;
  margin-top: 15px;
  // padding-right: 20px;
  position:relative;
}

.insurance-card-hover {
  &:hover {
    box-shadow: rgba(50, 50, 93, 0.35) 0px 2px 5px -1px, rgba(0, 0, 0, 0.4) 0px 1px 3px -1px;
    transform: scale(1.02)
  }
}

.rounded-border {
  // background-color: white;
  border-radius: 5px;
  text-align: left;
  padding: 5px;
  margin-bottom: 15px;
}

.pink {
  background-color: #c471ed7d;
  color: $black;
  border-radius: 5px;
  text-align: left;
  padding: 5px;
  margin-bottom: 15px;
}

.gray {
  background-color: rgba(96, 93, 93, 0.734);
  color: $white;
  border-radius: 5px;
  text-align: left;
  padding: 5px;
  margin-bottom: 15px;
}

.cl_image_tag {
  max-width:100%;
  max-height:100%;
  background: white;
  object-fit: contain;
}

.insurance-logo {
  padding: 2%;
  margin-top: 1%;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  max-width: 100%;
  max-height: 100%;
}

.logo {
  width:14vw;
  height: 100%;
}
