.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand h1 {
  font-style: "Oleo Script Swash Caps", "cursive";
  font-weight: bold;
  font-size: 50px;
  animation: flow 10s ease-in-out infinite;
  background: linear-gradient($blue, $purple);
  background-size: 300%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
